/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Norman Butler
Developer @GA in London
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

*, *::before, *::after {
	box-sizing: border-box;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	font-size: 26px;
	background-color: #f0efef;
	color: #000;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

header {
	padding: 20px 0;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

a {
	text-decoration: none;
}

.blog-header {
	display: flex;
	background-color: #033048;
	padding: 20px 0 30px 0;
}

.blog-header li {
	display: inline-block;
	font-weight: 600;
}

.blog-header nav {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.container {
	max-width: 90%;
	margin: 0 auto;
	width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.logo {
	font-size: 48px;
	font-weight: 800;
	color: #fff;
}

.intro {
	background: url("../images/header-bg.jpg") no-repeat top center #131e27;
	background-size: cover;
	padding: 50px 0 300px;
}

.intro h2 {
	font-size: 48px;
	text-align: center;
	color: #fff;
	margin: 200px 0 50px;
	font-weight: 600;
}

.sign-up {
	border-radius: 5px;
	font-weight: 800;
	padding: 12px 0;
	width: 280px;
	font-size: 28px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.sign-up-yellow {
	background: #f9e42e;
	color: #033048;
}

.sign-up-blue {
	background: #033048;
	color: #fff;
	font-size: 24px;
}

.sign-up-now {
	background: #f9e42e;
	padding: 30px;
	text-align: center
}

h3 {
	color: #033048;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 40px;
}

.benefits {
	padding: 100px 0 80px;
}

.benefits p, .benefits ul {
	width: 600px;
}

.benefits ul {
	list-style: disc;
	margin: 30px 0 0 80px;
}

/***************************************
/* CUSTOMER TESTIMONIAL
/***************************************/

.testimonial {
	background: url("../images/testimonial-bg.jpg") rgb(134, 141, 157);
	background-size: cover;
	padding: 70px 0;
	color: #fff;
}

blockquote {
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
	width: 580px;
	margin: 0 auto;
}

blockquote span {
	font-weight: 600;
	display: block;
	font-style: normal;
}

/****************************************
/* SOCIAL MEDIA LINKS & INFO
/****************************************/

footer {
	background: #121212;
	padding: 65px 0 45px;
	text-align: center;
}

footer .logo {
	color: #f9e42e;
	margin-bottom: 68px;
}

footer ul li {
	display: inline-block;
	list-style: none;
	margin: 0 26px 75px;
}

footer p {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}

/**************************************************
/* Add hover effect to tab links in Header List
/*************************************************/

.blog-header li a:hover {
	color: white;
}

.blog-header a {
	color: #f9e42e;
	padding: 25px;
}

.faq-font {
	text-transform: uppercase;
}

.blog-container {
	height: 1980px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0 auto;
	width: 1024px;
	padding: 20px 0 80px 0;
}

.blog-post1 {
	display: flex;
	flex-direction: column;
	max-width: 66%;
	border-bottom: 1px solid #033048;
}

.blog-post2 {
	display: flex;
	flex-direction: column;
	max-width: 66%;
	flex-grow: 1;
	border-bottom: 1px solid #033048;
}

.blog-post1 p::first-letter, .blog-post2 p::first-letter {
	color: #606161;
	font-weight: 600;
	font-size: 80px;
	padding-right: 8px;
	float: left;
	line-height: 1.1;
}

.blog-post1 p, .blog-post2 p {
	color: #606161;
	padding-top: 20px;
}

.blog-post1 h3, .blog-post2 h3 {
	margin: 20px 0;
}

.blog-post1 a, .blog-post2 a {
	text-align: right;
	padding: 40px 20px;
}

.categories {
	display: flex;
	font-weight: 300;
	flex-direction: column;
	max-width: 30%;
}

.categories a {
	color: #033048;
}

.categories ul {
	padding-bottom: 20px;
}

.categories h3, .about h3 {
	font-weight: 800;
}

.about {
	display: flex;
	flex-direction: column;
	max-width: 30%;
	padding-bottom: 40px;
}

.about p {
	font-weight: 300;
	color: #033048;
	
}

.advert {
	display: flex;
	max-width: 30%;
}

.advert img {
	flex-grow: 1;
}

/***************************************************
/** Add hover effect to tab links in Categories List
/**************************************************/

.categories li a:hover {
	color: #033048;
	font-weight: 600;
}